@media print
{

    a[href^=http]:after
    {
        content:" [" attr(href) "]";
    }

    .page
    {
        border: 0;
    }

    .page_number
    {
        position: absolute;
        bottom: -50px;
        left: 50%;
    }

    .break {
        page-break-before: always
    }
}